.future {

  margin-top: 136px;
  margin-bottom: 128px;
  &__wrap {
    @extend .container !optional;
    display: flex;
  }
  &__1column--stroke {
    display: flex;
    margin-top: 24px;
    justify-content: space-between;
  }
  &__1column--stroke-left {
    display: flex;
    align-items: center;
  }

  &__1column--text {
    margin-left: 16px;
  }
  &__1column--img {
    width: 48px;
    height: 48px;
  }
  &__1column--text-title{
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #23262F;
  }
  &__1column--text-desc{
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #353945;
  }
  &__1column--info-desc{
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #777E91;
  }
  &__1column--info-price{
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: #45B36B;
    text-transform: uppercase;
    border: 2px solid #45B36B;
    border-radius: 4px;
    padding: 8px 8px 6px;
  }
  &__2column {
    padding-left: 32px;
    padding-right: 32px;
    border-right: 1px solid #E6E8EC;
  }
  &__2column--card {
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;
  }
  &__2column--card:last-child {
    margin-bottom:0;
  }
  &__2column--image{
    width: 160px;
    height: 148px;
  }
  &__2column--content{
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 167px;
  }
  &__2column--content-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #23262F;
  }
  &__2column--content-desc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 16px;
  }
  &__2column--content-desc-img{
    width: 24px;
    height: 24px;
  }
  &__2column--content-desc-price{
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: #45B36B;
    padding: 8px 8px 6px;
    border: 2px solid #45B36B;
    border-radius: 4px;
  }
  &__2column--content-desc-order{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #777E91;
  }
  &__2column--content-button {
    width: 74px;
    padding: 8px 12px;
    text-align: center;
  }
  &__3column {
    margin-left: 32px;
  }
  &__3column--title{
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #777E91;
  }
  &__3column--card{
    display: flex;
    position: relative;
    margin-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E6E8EC;
    align-items: center;
  }
  &__3column--card:last-child{
    border-bottom:0;
  }
  &__3column--card-number{
    position: absolute;
    top:-4px;
    left: -4px;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #FCFCFD;
    background: #23262F;
    border: 2px solid #FCFCFD;
    border-radius: 64px;
    width: 24px;
    height: 24px;
    text-align: center;
    box-sizing: border-box;
  }
  &__3column--card-img {
    width: 56px;
    height: 56px;
  }
  &__3column--card-text{
    margin-left: 16px;
  }
  &__3column--card-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #23262F;
  }
  &__3column--card-price {
    display: flex;
  }
  &__3column--card-price-amount {
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #353945;
  }
  &__3column--card-price-currency {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #777E91;
    margin-left: 2px;
  }

}