//colors

$color-blue: #3772FF;
$color-green: #45B26B;
$color-violet: #9757D7;
$color-rad: #EF466F;
$color-aqua: #4BC9F0;
$color-rose: #CDB4DB;
$color-body: #E4D7CF;
$color-yellow: #FFD166;
$color-black-100: #141416;
$color-black-70: #23262F;
$color-black-90: #141416;
$color-grey-50: #777E90;
$color-grey-40: #B1B5C3;
$color-grey-10: #E6E8EC;
$color-grey-20: #F4F5F6;
$color-grey-30: #FCFCFD;

//typography;

$h1-font-size: 64px;
$h2-font-size: 48px;
$h3-font-size: 40px;
$h4-font-size: 32px;
